In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('GEOMETRIC+MEAN+LEAN+SIX+SIGMA+GREEN+BELT+-+Copy.csv')

In [3]:
df.head()

     YEAR RETURN ON INVESTMENT CONVERTED %
0  1990.0                  50%         NaN
1  1991.0                  98%         NaN
2  1992.0                 130%         NaN
3  1993.0                  80%         NaN
4  1994.0                 -90%         NaN

In [4]:
type(df['CONVERTED %'])

pandas.core.series.Series

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   YEAR                  5 non-null      float64
 1   RETURN ON INVESTMENT  5 non-null      object
 2   CONVERTED %           1 non-null      object
dtypes: float64(1), object(2)
memory usage: 272.0+ bytes

In [6]:
df.head()

     YEAR RETURN ON INVESTMENT CONVERTED %
0  1990.0                  50%         NaN
1  1991.0                  98%         NaN
2  1992.0                 130%         NaN
3  1993.0                  80%         NaN
4  1994.0                 -90%         NaN

In [12]:
df['RETURN ON INVESTMENT'] = df['RETURN ON INVESTMENT'].str.rstrip('%').astype('float') / 100.0

In [13]:
df.head()

     YEAR  RETURN ON INVESTMENT CONVERTED %
0  1990.0                  0.50         NaN
1  1991.0                  0.98         NaN
2  1992.0                  1.30         NaN
3  1993.0                  0.80         NaN
4  1994.0                 -0.90         NaN