In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('GEOMETRIC+MEAN+LEAN+SIX+SIGMA+GREEN+BELT+-+Copy.csv')

In [4]:
df.head()

     YEAR RETURN ON INVESTMENT CONVERTED %
0  1990.0                  50%         NaN
1  1991.0                  98%         NaN
2  1992.0                 130%         NaN
3  1993.0                  80%         NaN
4  1994.0                 -90%         NaN

In [5]:
type(df['CONVERTED %'])

pandas.core.series.Series

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   YEAR                  5 non-null      float64
 1   RETURN ON INVESTMENT  5 non-null      object
 2   CONVERTED %           1 non-null      object
dtypes: float64(1), object(2)
memory usage: 272.0+ bytes

In [7]:
df.head()

     YEAR RETURN ON INVESTMENT CONVERTED %
0  1990.0                  50%         NaN
1  1991.0                  98%         NaN
2  1992.0                 130%         NaN
3  1993.0                  80%         NaN
4  1994.0                 -90%         NaN

In [9]:
df['transfRETURN ON INVESTMENT'] = df[df['RETURN ON INVESTMENT']] /100

KeyError: "None of [Index(['50%', '98%', '130%', '80%', '-90%', nan], dtype='object')] are in the [columns]"