In [20]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv('GEOMETRIC+MEAN+LEAN+SIX+SIGMA+GREEN+BELT+-+Copy.csv')

In [22]:
df.head()

     YEAR RETURN ON INVESTMENT CONVERTED %
0  1990.0                  50%         NaN
1  1991.0                  98%         NaN
2  1992.0                 130%         NaN
3  1993.0                  80%         NaN
4  1994.0                 -90%         NaN

In [23]:
type(df['CONVERTED %'])

pandas.core.series.Series

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   YEAR                  5 non-null      float64
 1   RETURN ON INVESTMENT  5 non-null      object
 2   CONVERTED %           1 non-null      object
dtypes: float64(1), object(2)
memory usage: 272.0+ bytes

In [25]:
df.head(6)

     YEAR RETURN ON INVESTMENT     CONVERTED %
0  1990.0                  50%             NaN
1  1991.0                  98%             NaN
2  1992.0                 130%             NaN
3  1993.0                  80%             NaN
4  1994.0                 -90%             NaN
5     NaN                  NaN  GEOMETRIC MEAN

In [26]:
df = df.drop([0,5])

In [27]:
df['RETURN ON INVESTMENT'] = df['RETURN ON INVESTMENT'].str.rstrip('%').astype('float') / 100.0

In [28]:
df.head(10)

     YEAR  RETURN ON INVESTMENT CONVERTED %
1  1991.0                  0.98         NaN
2  1992.0                  1.30         NaN
3  1993.0                  0.80         NaN
4  1994.0                 -0.90         NaN

In [29]:
 df['RETURN ON INVESTMENT_CORRECTED']= df['RETURN ON INVESTMENT'] + 1

In [30]:
df.head(10)

     YEAR  RETURN ON INVESTMENT CONVERTED %  RETURN ON INVESTMENT_CORRECTED
1  1991.0                  0.98         NaN                            1.98
2  1992.0                  1.30         NaN                            2.30
3  1993.0                  0.80         NaN                            1.80
4  1994.0                 -0.90         NaN                            0.10

In [31]:
RETURN_LIST = df['RETURN ON INVESTMENT_CORRECTED'].tolist()

In [32]:
RETURN_LIST

[1.98, 2.3, 1.8, 0.09999999999999998]

In [33]:
import scipy as sp

In [34]:
from scipy.stats import gmean

In [35]:
gmean(RETURN_LIST)

0.9515166296376899

In [36]:
import random
#Generate 5 random numbers between 10 and 30
randomlist = random.sample(range(1,400), 5)
print(randomlist)

[360, 73, 14, 264, 6]

# NORMAL DISTRIBUTION

In [37]:
df1 = pd.read_csv('Green Belt exercise.csv')

In [39]:
df1.head()

,Plant A: KM x 1000 before failure,Plant B: KM x 1000 before failure,MEAN PLANT A,MEAN PLANT B
0,60,60,NaN,NaN
1,60,54,STD DEV PLANT A,STD DEV PLANT B
2,59,60,NaN,NaN
3,58,50,NaN,NaN
4,60,76,NaN,NaN

In [41]:
df1 = df1.drop('MEAN PLANT A',axis=1)

In [42]:
df1 = df1.drop('MEAN PLANT B',axis=1)

In [43]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Plant A: KM x 1000 before failure  29 non-null     int64
 1   Plant B: KM x 1000 before failure  29 non-null     int64
dtypes: int64(2)
memory usage: 592.0 bytes

In [45]:
df1.describe()

       Plant A: KM x 1000 before failure  Plant B: KM x 1000 before failure
count                          29.000000                          29.000000
mean                           59.586207                          58.172414
std                             1.547284                          13.376603
min                            56.000000                          25.000000
25%                            59.000000                          50.000000
50%                            60.000000                          60.000000
75%                            60.000000                          64.000000
max                            63.000000                          89.000000

In [50]:
MEAN_PLANT_A = df1['Plant A: KM x 1000 before failure'].mean()

In [51]:
MEAN_PLANT_B= df1['Plant B: KM x 1000 before failure'].mean()

Question 2:
Contrary to what many people think, crude oil is not a standardized commodity. Depending on the source it is extracted from, crude oil may be heavy or light (which depends on the amount of sediments in it) and it may be sweet or sour (which depends on the amount of sulphur in it). Assume that you work for Petrobras, a Brazilian company that is in the crude oil business. They take samples from various batches of crude oil. They measure the ‘heaviness’ of the crude oil, which again depends on the amount of sediments in it. The heaviness of crude oil is expressed in API degrees. Most types of crude oil range from 10 to 50 API degrees.

Crude oil that has a very low API degree value, is very ‘heavy.’ It contains a lot of sediments. It is generally considered lower quality oil because it requires a lot of processing. Some of the heaviest crude oil types can be found in Alberta, Canada. Assume that your sample has as a mean of 48 API degrees. Its standard deviation is 2 API degrees. Suppose that for quality reasons, you want to make sure that very little of your oil has an API degree of less than 43.5. Calculate which % of the crude oil is expected to have an API degree of less than 43.5. You do not have the use the table per se. But in this case, for the sake of the exercise, please use the Z table.

In [55]:
#calculating the z value for a score of 43.5
(43.5-48)/2

-2.25

In [56]:
# check the z score table and see that the answer is 1.22% 
#this is a rough estimative because the distribution is probably not normal

In [ ]:
#sigma score is the module of the (nominal value or closest specification limit - mean) divided by the standard deviation 
#DPMO is the number of defects out of million parts or samples and it decreases with the increase of sigma score