In [35]:
import pandas as pd
import numpy as np

In [36]:
df = pd.read_csv('GEOMETRIC+MEAN+LEAN+SIX+SIGMA+GREEN+BELT+-+Copy.csv')

In [37]:
df.head()

     YEAR RETURN ON INVESTMENT CONVERTED %
0  1990.0                  50%         NaN
1  1991.0                  98%         NaN
2  1992.0                 130%         NaN
3  1993.0                  80%         NaN
4  1994.0                 -90%         NaN

In [38]:
type(df['CONVERTED %'])

pandas.core.series.Series

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   YEAR                  5 non-null      float64
 1   RETURN ON INVESTMENT  5 non-null      object
 2   CONVERTED %           1 non-null      object
dtypes: float64(1), object(2)
memory usage: 272.0+ bytes

In [41]:
df.head(6)

     YEAR RETURN ON INVESTMENT     CONVERTED %
0  1990.0                  50%             NaN
1  1991.0                  98%             NaN
2  1992.0                 130%             NaN
3  1993.0                  80%             NaN
4  1994.0                 -90%             NaN
5     NaN                  NaN  GEOMETRIC MEAN

In [42]:
df = df.drop([0,5])

In [43]:
df['RETURN ON INVESTMENT'] = df['RETURN ON INVESTMENT'].str.rstrip('%').astype('float') / 100.0

In [44]:
df.head(10)

     YEAR  RETURN ON INVESTMENT CONVERTED %
1  1991.0                  0.98         NaN
2  1992.0                  1.30         NaN
3  1993.0                  0.80         NaN
4  1994.0                 -0.90         NaN

In [45]:
 df['RETURN ON INVESTMENT_CORRECTED']= df['RETURN ON INVESTMENT'] + 1

In [46]:
df.head(10)

     YEAR  RETURN ON INVESTMENT CONVERTED %  RETURN ON INVESTMENT_CORRECTED
1  1991.0                  0.98         NaN                            1.98
2  1992.0                  1.30         NaN                            2.30
3  1993.0                  0.80         NaN                            1.80
4  1994.0                 -0.90         NaN                            0.10

In [47]:
RETURN_LIST = df['RETURN ON INVESTMENT_CORRECTED'].tolist()

In [48]:
RETURN_LIST

[1.98, 2.3, 1.8, 0.09999999999999998]

In [49]:
import scipy as sp

In [50]:
from scipy.stats import gmean

In [51]:
gmean(RETURN_LIST)

0.9515166296376899

In [53]:
import random
#Generate 5 random numbers between 10 and 30
randomlist = random.sample(range(1,400), 5)
print(randomlist)

[233, 363, 115, 27, 365]

# NORMAL DISTRIBUTION